html, #root, body {
  height: 100%;
}

.App {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.App-header h1 {
  font-size: calc(10px + 2vmin);
  padding: 5px;
}

nav ul {
  min-width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  min-width: max-content;
  padding: 4px;
  /* width: 150px; */
  word-wrap: normal;
}

nav a {
  color: white;
  text-decoration: none;
  /* border: 10px solid green; */
}

nav a:visited {
  color: white
}

nav a:hover {
  color: pink;
}

/* .App-link {
  color: #61dafb;
} */

footer {
  margin-top: auto;
  color: white;
  background-color: #282c34;
  justify-self: flex-end;
}

.SafetyApp {
  display: flex;
  flex-direction: column;
}

.ReactionForm {
  background-color: #61dafb;
  margin: 5px;
  min-width: 80%;
  align-self: center;
  justify-content: space-around;
}

.DrawReactionForm {
  background-color: #61dafb;
  margin: 5px;
  min-width: 80%;
  align-self: center;
  justify-content: space-around;
}

.InputBlock {
  display: flex;
  justify-content: space-around;
}

.InputBlock button {
  min-width: max-content;
  max-width: 50%;
  align-self: center;
}

.InputBlock button:hover {
  background-color: pink;
}

.InputField{
  display:flex;
  margin: 5px;
  align-items: space-between;
}
.InputField > * {
  margin: 3px;
}

.ReactantInputs {
  display: flex;
  flex-direction: column;
}

.ProductInputs {
  display: flex;
  flex-direction: column;
}


input[type=submit] {
  margin: 10px;
}

.SafetyTable {
  margin: 10px;
  align-self: center;
  table-layout: fixed;
  width: 80%;
}

.SafetyTable thead {
  background-color: white;
}

.SafetyTable td {
  word-wrap: break-word;
}

.SafetyTable th:nth-child(1){
  width: 25%;
}
.SafetyTable th:nth-child(2){
  width: 15%;
}

.SafetyTable ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.SafetyTable li {
  padding: 4px
}

.SafetyRow--HazardsAvailable {
  background-color: lightgrey;
}

.SafetyRow--HazardsUnavailable {
  background-color: lightcoral;
}
