html, #root, body {
  height: 100%;
}

.App {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #ffffff;
}

.App-header h1 {
  font-size: calc(10px + 2vmin);
  padding: 5px;
}
.App-header nav {
  align-self: baseline;
  margin-top: auto;
}

.App-header nav ul {
  min-width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  list-style: none;
  padding-left: 0px;
}


.App-header nav ul li {
  min-width: max-content;
  /* padding: 4px; */
  /* width: 150px; */
  word-wrap: normal;
}

.App-header a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  /* border: 10px solid green; */
}

.App-header a:visited {
  color: #ffffff
}

.App-header a:hover {
  color: #f6a2cc;
}

.App-header .active {
  background-color: #54616d
}
/* .App-link {
  color: #61dafb;
} */

footer {
  margin-top: auto;
  color: #ffffff;
  background-color: #282c34;
  justify-self: flex-end;
}

.SafetyApp {
  display: flex;
  flex-direction: column;
}
.SafetyApp h2 {
  text-align: left;
}
.SafetyAppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.SafetyAppHeader nav ul {
  display: flex;
  align-items: center;
  margin: 5px;
  list-style: none;
  padding-left: 0px;
}

.SafetyAppHeader nav ul li {
  display: flex;
}

.SafetyAppHeader a {
  background-color: #61dafb;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
}

.SafetyAppHeader a:visited {
  color: #000000;
}

.SafetyAppHeader .active {
  background-color: #48a8c3;
}


.AppHowTo {
  padding-left: 10%;
  padding-right: 10%;
}

.ReactionForm {
  background-color: #61dafb;
  margin: 5px;
  min-width: 80%;
  align-self: center;
  justify-content: space-around;
}

.DrawReactionForm {
  background-color: #61dafb;
  margin: 5px;
  min-width: 80%;
  align-self: center;
  justify-content: space-around;
}

.InputBlock {
  display: flex;
  justify-content: space-around;
}

.InputBlock button {
  min-width: max-content;
  max-width: 50%;
  align-self: center;
}

.InputField{
  display:flex;
  margin: 5px;
  align-items: space-between;
}
.InputField > * {
  margin: 3px;
}

.ReactantInputs {
  display: flex;
  flex-direction: column;
}

.ProductInputs {
  display: flex;
  flex-direction: column;
}


input[type=submit] {
  margin: 10px;
}

.SafetyTable {
  margin: 10px;
  align-self: center;
  table-layout: fixed;
  width: 80%;
}

.SafetyTable caption {
  caption-side: bottom;
}

.SafetyTable thead {
  background-color: #ffffff;
}

.SafetyTable td {
  word-wrap: break-word;
}

.SafetyTable th:nth-child(1){
  width: 25%;
}
.SafetyTable th:nth-child(2){
  width: 15%;
}

.SafetyTable ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.SafetyTable li {
  padding: 4px
}

.SafetyRow--HazardsAvailable {
  background-color: #DEDEDE;
}

.SafetyRow--HazardsUnavailable {
  background-color: #f26873;
}


.DataSources ol li {
  text-align: left;
  padding-top: 5px;
  margin: 20px;
}
